
<link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@900&display=swap" rel="stylesheet">

  <div class="header-navbar">
    <nav class="navbar navbar-light nav-header" >
      <a class="navbar-brand" href="#"> <strong style='font-family: Alegreya Sans, sans-serif'> MediCV</strong></a>
    </nav>
  </div>




