
  <!-- <div class="row">
    <div class="col">
      <div class="header-container">
        <nav class="navbar header-nav">
        <div class="container-fluid nav">
          <div class="navbar-header">
            <a class="navbar-brand" href="#"> <strong> MediCV</strong></a>
          </div>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
          </ul>
        </div>
      </nav>
      
      </div>
    </div>
    
  </div> -->

  <div class="header-navbar">
    <nav class="navbar navbar-light nav-header" >
      <a class="navbar-brand" href="#"> <strong> MediCV</strong></a>
    </nav>
  </div>




