<!DOCTYPE html>
<html lang="en">
<head>
	<title><% if(!reg) { %>Login<% } else {%>Register<% } %></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/login/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/login/css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">

					<% if(!reg) { %>
						<span class="login100-form-title p-b-43">
							Login to continue
						</span>
					<% } %>

					<% if(reg) { %>
						<span class="login100-form-title p-b-43">
							Register
						</span>
					<% } %>
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" id="inputEmail" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100"><b>Email</b></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" id="inputPassword" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100"><b>Password</b></span>
					</div>

					<% if(reg) { %>
						<div class="wrap-input100 validate-input" data-validate="Passwords do not match">
							<input class="input100" onchange="checkPass" id="confirmPass" type="password" name="confirmPassword">
							<span class="focus-input100"></span>
							<span class="label-input100"><b>Confirm Password</b></span>
						</div>
					<% } %>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						
						<% if(reg) {%>
							<script>
								function checkPass() {
									if($('#confirmPass').val() !== $('#inputPassword').val()){
										$('#confirmPass').parent().addClass('alert-validate');
									} else {
										$('#confirmPass').parent().removeClass('alert-validate');
									}
								}
							</script>
						<% } %>

						<% if(!reg) { %>
						<div style="margin: auto;">
							<a href="/forgotpassword" class="txt1">
								Forgot Password?
							</a>
						</div>
						<% } %>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							<% if(!reg) { %>Login<% } else {%>Register<% } %>
						</button>
					</div>

					<div id='errRegd' style="display: none" class="err text-center p-t-10 p-b-10">
						<div class="txt2">
							User Already Registered
						</div>
					</div>

					<div id='errLogin' style="display: none" class="err text-center p-t-10 p-b-10">
						<div class="txt2">
							Invalid Credentials
						</div>
					</div>
					
					<% if(!reg) { %>
					<div class="text-center p-t-20 p-b-20">
						<a href="/register" class="txt2">
							Sign Up instead
						</a>
					</div>
					<% } %>

					<% if(reg) { %>
						<div class="text-center p-t-20 p-b-20">
							<a href="/login" class="txt2">
								Already Registered? Sign In
							</a>
						</div>
						<% } %>

					<!-- <div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div> -->
				</form>

				<div class="login100-more" style="background-image: url('/login/images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/login/vendor/bootstrap/js/popper.js"></script>
	<script src="/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/login/vendor/daterangepicker/moment.min.js"></script>
	<script src="/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/login/js/main.js"></script>

</body>
</html>