<%- include('partials/header') %>

<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.css" integrity="sha256-6Wozb/CzRANFOaGqN+u/uRT7kcffVIQt9OhOuuA6I9o=" crossorigin="anonymous" />
<!--===============================================================================================-->	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css" integrity="sha256-JPv5igMSqm2ztJxtjiup0q6NMWu7L3MbMn9FqyPgfdo=" crossorigin="anonymous" />
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css" integrity="sha256-FAIOZJGGkyuIp/gVrVL/k52z4rpCKMrRlYMdGCWstUo=" crossorigin="anonymous" />
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" integrity="sha256-kH9DlfVOJaHaEYFnLxpJjpiyb3v8bctsIJpzdHJFHkk=" crossorigin="anonymous" />
<!--===============================================================================================-->	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css" integrity="sha256-9e9MfmRHWQmp4yMV+R9cxXU6+ZjzB2x+YcE4Z1Kmuag=" crossorigin="anonymous" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/login/css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">

					<% if(!reg) { %>
						<span class="login100-form-title p-b-43">
							Login to continue
						</span>
					<% } %>

					<% if(reg) { %>
						<span class="login100-form-title p-b-43">
							Register
						</span>
					<% } %>
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" id="inputEmail" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100"><b>Email</b></span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" id="inputPassword" type="password" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100"><b>Password</b></span>
					</div>

					<% if(reg) { %>
						<div class="wrap-input100 validate-input" data-validate="Passwords do not match">
							<input class="input100" onchange="checkPass" id="confirmPass" type="password" name="confirmPassword">
							<span class="focus-input100"></span>
							<span class="label-input100"><b>Confirm Password</b></span>
						</div>
					<% } %>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						
						<% if(reg) {%>
							<script>
								function checkPass() {
									if($('#confirmPass').val() !== $('#inputPassword').val()){
										$('#confirmPass').parent().addClass('alert-validate');
									} else {
										$('#confirmPass').parent().removeClass('alert-validate');
									}
								}
							</script>
						<% } %>

						<% if(!reg) { %>
						<div style="margin: auto;">
							<a href="/forgotpassword" class="txt1">
								Forgot Password?
							</a>
						</div>
						<% } %>
					</div>
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							<% if(!reg) { %>Login<% } else {%>Register<% } %>
						</button>
					</div>

					<div id='errRegd' style="display: none" class="err text-center p-t-10 p-b-10">
						<div class="txt2">
							User Already Registered
						</div>
					</div>

					<div id='errLogin' style="display: none" class="err text-center p-t-10 p-b-10">
						<div class="txt2">
							Invalid Credentials
						</div>
					</div>
					
					<% if(!reg) { %>
					<div class="text-center p-t-20 p-b-20">
						<a href="/register" class="txt2">
							Sign Up instead
						</a>
					</div>
					<% } %>

					<% if(reg) { %>
						<div class="text-center p-t-20 p-b-20">
							<a href="/login" class="txt2">
								Already Registered? Sign In
							</a>
						</div>
						<% } %>

					<!-- <div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div> -->
				</form>

				<div class="login100-more" style="background-image: url('/login/images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js" integrity="sha256-8y2mv4ETTGZLMlggdrgmCzthTVCNXGUdCQe1gd8qkyM=" crossorigin="anonymous"></script>
<!--===============================================================================================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js" integrity="sha256-nAS1wDQBPBqa1fnZq8wd1Z6CN+PgmHXLFdMo0g2pYf0=" crossorigin="anonymous"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<!--===============================================================================================-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.js" integrity="sha256-8+7/7+PiITiOM38aVR+IOyWik1GMAM1MiG68sT7BiV0=" crossorigin="anonymous"></script>
<!--===============================================================================================-->
	<script src="/login/js/main.js"></script>

</body>
</html>