<%- include('partials/header') %>

<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.css" integrity="sha256-6Wozb/CzRANFOaGqN+u/uRT7kcffVIQt9OhOuuA6I9o=" crossorigin="anonymous" />
<!--===============================================================================================-->	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css" integrity="sha256-JPv5igMSqm2ztJxtjiup0q6NMWu7L3MbMn9FqyPgfdo=" crossorigin="anonymous" />
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/css/animsition.min.css" integrity="sha256-FAIOZJGGkyuIp/gVrVL/k52z4rpCKMrRlYMdGCWstUo=" crossorigin="anonymous" />
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" integrity="sha256-kH9DlfVOJaHaEYFnLxpJjpiyb3v8bctsIJpzdHJFHkk=" crossorigin="anonymous" />
<!--===============================================================================================-->	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.css" integrity="sha256-9e9MfmRHWQmp4yMV+R9cxXU6+ZjzB2x+YcE4Z1Kmuag=" crossorigin="anonymous" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/login/css/util.css">
	<link rel="stylesheet" type="text/css" href="/login/css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
						<span class="login100-form-title p-b-43">
								Change Password
						</span>
					<input id="username" type="text" hidden value="<%=user%>">
					<div class="wrap-input100 validate-input" style="margin-bottom: 30px">
						<input class="input100" type="password" id="inputPassword" name="password">
						<span class="focus-input100"></span>
						<span class="label-input100"><b>Enter New Password</b></span>
					</div>
					<div class="wrap-input100 validate-input" style="margin-bottom: 30px" data-validate = "Passwords Do Not Match">
						<input class="input100" type="password">
						<span class="focus-input100"></span>
						<span class="label-input100"><b>Confirm Password</b></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Change Password
						</button>
					</div>

				</form>
				<div class="login100-more" style="background-image: url('/login/images/bg-01.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/4.0.2/js/animsition.min.js" integrity="sha256-8y2mv4ETTGZLMlggdrgmCzthTVCNXGUdCQe1gd8qkyM=" crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js" integrity="sha256-nAS1wDQBPBqa1fnZq8wd1Z6CN+PgmHXLFdMo0g2pYf0=" crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<!--===============================================================================================-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/countdown/2.6.0/countdown.js" integrity="sha256-8+7/7+PiITiOM38aVR+IOyWik1GMAM1MiG68sT7BiV0=" crossorigin="anonymous"></script>
	<!--===============================================================================================-->
	<script src="/js/resetpassword.js"></script>

</body>
</html>