* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(247, 247, 247);
}

.nav-header {
    height: 70px;
    background-color: rgb(255, 255, 255);
}

.header-navbar {
    /* position: sticky;
    top: 0; */
    
    box-shadow: 0 5px 20px 1px #ddd;
}

.nav-header .navbar-brand {
    color: #007bff;
    font-size: 40px;
    padding: 5px;
}